<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../estilo.css">
        <title>CADASTRO</title>
        
    </head>

    <body>
        <div id="container"> 
            <div id="header">
                <div id="brand">
                    <h1>
                        <a href="index.html">IMPACTA CLUB</a>
                        <img src="../static/jogador.png"/>
                    </h1>
                </div>
                <!-- <div id="searchBox">
                    <form method="get">
                        <input type="text" class="text">
                        <input type="submit" value="Search a topic" class="submit">
                    </form> 
                </div>-->
                <div class="clear">
                    
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="index.html" class="active">Home</a></li>
                    <li><a href="partidas.html">Partidas</a></li>
                    <li><a href="times.html">Times</a></li>
                    <li><a href="noticias.html">Noticias</a></li>
                    <li><a href="cadastro.html">Cadastro</a></li>
                    <li><a href="lista.html">Lista</a></li>
                </ul>
            </div>
            <div id="inicial">
                <h3>FAÇA PARTE DA MAIOR TORCIDA DO BRASIL</h3>
                <p>Cadastre-se e fique por dentro de todos os jogos e noticias dos times de futebol do Brasil!</p>
                
            </div>
            <form action="cadastrar" method="POST">
                <h1>Cadastrar</h1><br/>
              
                <span class="input"></span>
                <input type="text" name="name" placeholder="Nome completo"/><br/>
                <span class="input"></span>
                <input type="email" name="email" placeholder="E-mail" /><br/>
                <span class="input"></span>
                <input type="text" name="time" placeholder="Seu Time" /><br/>
                <span id="passwordMeter"></span>
                <input type="password" name="password" id="password" placeholder="Senha" title="Senha no mínimo 8 caractéres." /><br/>
              
                <button type="submit" value="submit" title="Submit form" ><span>Cadastrar</span></button>
              </form>
            <div class="clear"></div>
            <footer class="footer">
                <div>
                    <img src="../static/pinguin.png"/>
                    <h4>Impacta's Company.</h4>
                    <p>Copyright &copy; 2020</p>
                </div>
            </footer>
        </div>
    </body>
</html>