<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../estilo.css">
        <title>HISTÓRIA DO FUTEBOL</title>
        
    </head>

    <body>
        <div id="container"> 
            <div id="header">
                <div id="brand">
                    <h1>
                        <a href="index.html">IMPACTA CLUB</a>
                        <img src="../static/gol.png"/>
                    </h1>
                </div>
                <!-- <div id="searchBox">
                    <form method="get">
                        <input type="text" class="text">
                        <input type="submit" value="Search a topic" class="submit">
                    </form>
                </div> -->
                <div class="clear">
                    
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="index.html" class="active">Home</a></li>
                    <li><a href="partidas.html">Partidas</a></li>
                    <li><a href="times.html">Times</a></li>
                    <li><a href="noticias.html">Noticias</a></li>
                    <li><a href="cadastro.html">Cadastro</a></li>
                    <li><a href="lista.html">Lista</a></li>
                </ul>
            </div>
            <div id="inicial">
                <h3>HISTÓRIA DO FUTEBOL!</h3>
               
            </div>
            <div id="left-sidebar" class="sidebar">
                <h3>O QUE É O FUTEBOL?</h3>
                <p>O futebol (do inglês football), também conhecido por soccer nos Estados Unidos, é um desporto que coloca duas equipas,
                    formadas por onze jogadores cada (dez jogadores de campo e um guarda-redes), para se confrontarem. O objectivo é fazer entrar a bola na baliza da equipa adversária, respeitando uma série regras.</p>

            </div>
            <div id="right-sidebar" class="sidebar">
                <h3>O FUTEBOL NO BRASIL</h3>
                <p>O futebol chegou ao Brasil em 1894. Charles Miller, um jovem filho de ingleses que chegou a São Paulo após realizar seus estudos na Europa, trouxe consigo bolas e regras para a prática do futebol no país.
                    A prática do futebol, no Brasil, foi realizada pela primeira vez pelo São Paulo Athletic Club, formado por colonos ingleses, mas o primeiro clube formado, especialmente para a prática do futebol, foi a Associação Atlética Mackenzie College, em 1898.
                    O crescimento do futebol no Brasil acabou fazendo com que o esporte mais praticado na época, o remo, viesse a ficar em segundo plano, chegando a ser quase esquecido pelos brasileiros posteriormente. Com isso, algumas equipes de remo tornaram-se clubes de futebol, como o Flamengo, Vasco da Gama e Botafogo, no Rio de Janeiro.
                    A primeira equipe de futebol carioca foi o Fluminense Football Clube, fundado no ano de 1902. Também foi a primeira equipe a cobrar ingressos para uma partida de futebol no Brasil, realizada contra o Paulistano, quando, aproximadamente, 2500 pessoas acompanharam o duelo. Esse jogo também foi marcado como o primeiro que teve o comparecimento de um chefe de Estado, o então Presidente da República Rodrigues Alves.</p>
            </div>
            <div class="clear"></div>
            <footer class="footer">
                <div>
                    <img src="../static/pinguin.png"/>
                    <h4>Impacta's Company.</h4>
                    <p>Copyright &copy; 2020</p>
                </div>
                
            </footer>
        </div>
    </body>
</html>