<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../estilo.css">
        <title>NOTICIAS</title>
        
    </head>

    <body>
        <div id="container"> 
            <div id="header">
                <div id="brand">
                    <h1>
                        <a href="index.html">IMPACTA CLUB</a>
                        <img src="../static/fifa.png"/>
                    </h1>
                </div>
                <!-- <div id="searchBox">
                    <form method="get">
                        <input type="text" class="text">
                        <input type="submit" value="Search a topic" class="submit">
                    </form>
                </div> -->
                <div class="clear">
                    
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="index.html" class="active">Home</a></li>
                    <li><a href="partidas.html">Partidas</a></li>
                    <li><a href="times.html">Times</a></li>
                    <li><a href="noticias.html">Noticias</a></li>
                    <li><a href="cadastro.html">Cadastro</a></li>
                    <li><a href="lista.html">Lista</a></li>
                </ul>
            </div>
            <div id="inicial">
                <h3>NOTICIAS ESPORTIVAS</h3>
               
            </div>
            <div id="left-sidebar" class="sidebar">
                <h6>Vasco bate o Atlético-MG e vence a primeira na Série A2 do Brasileirão Feminino</h6>
                <p>O Vasco venceu o Atlético-MG por 1 a 0 pela segunda rodada da Série A2 do Brasileirão Feminino, no Estádio Nivaldo Pereira, em Nova Iguaçu, no Rio de Janeiro. Com o resultado, o Vasco chegou aos 4 pontos e subiu para a vice-liderança do Grupo E. Já o Galo conheceu a sua primeira derrota e estacionou na tabela, com apenas um ponto, na quinta colocação.<br/>
                    O único gol do jogo foi marcado pela atacante Isa Rangel, aos 34 minutos do segundo tempo. A camisa 11 vascaína bateu colocado de fora da área com a perna esquerda e encobriu a goleira Amanda. Com o placar aberto, o Atlético ainda tentou buscar o empate, mas não conseguiu encontrar os espaços e transformar a posse de bola em chances claras de gol</p>

            </div>
            <div id="right-sidebar" class="sidebar">
                <h6>Fluminense aproveita chances, bate o Sport e se aproxima da liderança do Brasileirão sub-20</h6>
                <p>Fluminense e Sport fizeram um jogo aberto, com grandes oportunidades para os dois lados. No primeiro tempo, os cariocas abriram o placar logo aos 15 minutos, com John Kennedy, de cabeça. Após o gol, o Leão não se abalou e construiu grandes oportunidades para empatar, com Luís Otávio e Ferrugem. Logo no início da segunda etapa, o Flu chegou ao segundo gol, com Cipriano, após rebote em cruzamento.<br/> O Sport novamente se lançou ao ataque e foi melhor durante boa parte do jogo. A equipe pernambucana ainda desperdiçou um pênalti, com Igor, aos 22 minutos. No fim, a vitória ficou com o Tricolor.</p>
            </div>
            <div class="clear"></div>
            <footer class="footer">
                <div>
                    <img src="../static/pinguin.png"/>
                    <h4>Impacta's Company.</h4>
                    <p>Copyright &copy; 2020</p>
                </div>
                
            </footer>
        </div>
    </body>
</html>