<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../estilo.css">
        <title>PARTIDAS</title>
        
    </head>

    <body>
        <div id="container"> 
            <div id="header">
                <div id="brand">
                    <h1>
                        <a href="index.html">IMPACTA CLUB</a>
                        <img src="../static/gol.png"/>
                    </h1>
                </div>
                <!-- <div id="searchBox">
                    <form method="get">
                        <input type="text" class="text">
                        <input type="submit" value="Search a topic" class="submit">
                    </form>
                </div> -->
                <div class="clear">
                    
                </div>
            </div>
            
            <div id="menu">
                <ul>
                    <li><a href="./index.html" class="active">Home</a></li>
                    <li><a href="partidas.html">Partidas</a></li>
                    <li><a href="times.html">Times</a></li>
                    <li><a href="noticias.html">Noticias</a></li>
                    <li><a href="cadastro.html">Cadastro</a></li>
                    <li><a href="lista.html">Lista</a></li>
                </ul>
            </div>

            <div id="inicial">
                <h3>RESULTADOS DAS PARTIDAS!</h3>
            </div>

            <div id="left-sidebar" class="sidebar">
                <h6>Partida 1</h6>
                <p>Copa Libertadores 2020<br/>
                São Paulo x Dep. Binacional-PER<br/>
                Data: 20/10/2020<br/>
                Estádio: Morumbi - São Paulo<br/>
                Horário: 21h30</p>

                <h6>Partida 2</h6>
                <p>Campeonato Brasileiro 2020<br/>
                Coritiba x São Paulo<br/>
                Data: 04/10/2020<br/>
                Estádio: Couto Pereira - Curitiba (PR)<br/>
                Horário: 16h00</p>

                <h6>Partida 3</h6>
                <p>Campeonato Brasileiro 2020<br/>
                São Paulo x Grêmio<br/>
                Data: 17/10/2020<br/>
                Estádio: Morumbi - São Paulo (SP)<br/>
                Horário: 21:00</p>
            </div>

            <div id="right-sidebar" class="sidebar">
                <h6>Partida 4</h6>
                <p>Campeonato Brasileiro 2020<br/>
                São Paulo x Atlético-GO<br/>
                Data: 07/10/2020<br/>
                Estádio: Morumbi - São Paulo (SP)<br/>
                Horário: 20:30</p>

                <h6>Partida 5</h6>
                <p>Campeonato Brasileiro 2020<br/>
                Palmeiras x São Paulo<br/>
                Data: 10/10/2020<br/>
                Estádio: Allianz Parque - São Paulo (SP)<br/>
                Horário: 19h00</p>

                <h6>Partida 6</h6>
                <p>Campeonato Brasileiro 2020<br/>
                Palmeiras x São Paulo<br/>
                Data: 25/10/2020<br/>
                Estádio: Neo Química Arena - São Paulo (SP)<br/>
                Horário: 21h00</p>
                
            </div>
            
            <div class="clear"></div>
            <footer class="footer">
                <div>
                    <img src="../static/pinguin.png"/>
                    <h4>Impacta's Company.</h4>
                    <p>Copyright &copy; 2020</p>
                </div>
            </footer>

        </div>
    </body>
</html>