<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../estilo.css">
        <title>OS TIMES</title>
        
    </head>

    <body>
        <div id="container"> 
            <div id="header">
                <div id="brand">
                    <h1>
                        <a href="index.html">IMPACTA CLUB</a>
                        <img src="../static/fifa.png"/>
                    </h1>
                </div>
                <!-- <div id="searchBox">
                    <form method="get">
                        <input type="text" class="text">
                        <input type="submit" value="Search a topic" class="submit">
                    </form>
                </div> -->
                <div class="clear">
                    
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="index.html" class="active">Home</a></li>
                    <li><a href="partidas.html">Partidas</a></li>
                    <li><a href="times.html">Times</a></li>
                    <li><a href="noticias.html">Noticias</a></li>
                    <li><a href="cadastro.html">Cadastro</a></li>
                    <li><a href="lista.html">Lista</a></li>
                </ul>
            </div>
            <div id="inicial">
                <h3>VEJA OS TIMES QUE ESTÃO JOGANDO</h3>
               
            </div>
            <div id="left-sidebar" class="sidebar">
                <table id="players">
                    <tr>
                        <h3>Coritiba vs São Paulo</h3>
                    </tr><br/>
                    <tr>
                        <th>Jogadores</th>
                        <th>Peso</th>
                        <th>Velocidade</th>
                        <th>Camiseta</th>
                        <th>Idade</th>
                    </tr>
        
                    <tr>
                        <td>João</td>
                        <td>72kg</td>
                        <td>30km/h</td>
                        <td>5</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>Carlos</td>
                        <td>62kg</td>
                        <td>30km/h</td>
                        <td>7</td>
                        <td>38</td>
                    </tr>
                    <tr>
                        <td>Leo</td>
                        <td>76kg</td>
                        <td>31,02km/h</td>
                        <td>29</td>
                        <td>31</td>
        
                    </tr>
                    <tr>
                        <td>Wesley</td>
                        <td>82kg</td>
                        <td>30km/h</td>
                        <td>22</td>
                        <td>18</td>
                    </tr>
                    <tr>
                        <td>Cleber</td>
                        <td>80kg</td>
                        <td>29,80km/h</td>
                        <td>7</td>
                        <td>19</td>
        
                    </tr>
                    <tr>
                        <td>Gabriel</td>
                        <td>83kg</td>
                        <td>30km/h</td>
                        <td>35</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td>Marcos</td>
                        <td>68kg</td>
                        <td>33km/h</td>
                        <td>22</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>Thiago</td>
                        <td>70kg</td>
                        <td>30km/h</td>
                        <td>45</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <td>Miguel</td>
                        <td>74kg</td>
                        <td>31,80km/h</td>
                        <td>16</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>Vinicius</td>
                        <td>72kg</td>
                        <td>30km/h</td>
                        <td>41</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>Antonio</td>
                        <td>69kg</td>
                        <td>32,20km/h</td>
                        <td>31</td>
                        <td>30</td>
        
                    </tr>
                    <tr>
                        <td>Allan</td>
                        <td>77kg</td>
                        <td>33km/h</td>
                        <td>56</td>
                        <td>31</td>
                    </tr>
                    <tr>
                        <td>Carlos</td>
                        <td>72kg</td>
                        <td>30km/h</td>
                        <td>5</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>Pedro</td>
                        <td>70kg</td>
                        <td>30km/h</td>
                        <td>29</td>
                        <td>28</td>
                    </tr>
                    
                </table><br/>
                
                </table>
            </div>
            <div id="right-sidebar" class="sidebar">
                <table id="players">
                    <tr>
                        <h3>São Paulo vs Atlético-GO</h3>
                    </tr><br/>
                    <tr>
                        <th>Jogadores</th>
                        <th>Peso</th>
                        <th>Velocidade</th>
                        <th>Camiseta</th>
                        <th>Idade</th>
                    </tr>
        
                    <tr>
                        <td>Carlos</td>
                        <td>70kg</td>
                        <td>30km/h</td>
                        <td>2</td>
                        <td>38</td>
                    </tr>
                    <tr>
                        <td>Matheus </td>
                        <td>85kg</td>
                        <td>29km/h</td>
                        <td>31</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td>Leandro</td>
                        <td>78kg</td>
                        <td>33,21km/h</td>
                        <td>8</td>
                        <td>28</td>
        
                    </tr>
                    <tr>
                        <td>Luan </td>
                        <td>74kg</td>
                        <td>29km/h</td>
                        <td>18</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>Gustavo</td>
                        <td>76kg</td>
                        <td>30,60km/h</td>
                        <td>33</td>
                        <td>23</td>
        
                    </tr>
                    <tr>
                        <td>Douglas </td>
                        <td>71kg</td>
                        <td>31km/h</td>
                        <td>21</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td>Vinicius</td>
                        <td>72kg</td>
                        <td>28km/h</td>
                        <td>26</td>
                        <td>31</td>
        
                    </tr>
                    <tr>
                        <td>Lucas </td>
                        <td>77kg</td>
                        <td>29km/h</td>
                        <td>25</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>Alison</td>
                        <td>63kg</td>
                        <td>34km/h</td>
                        <td>35</td>
                        <td>27</td>
        
                    </tr>
                    <tr>
                        <td>Henrique </td>
                        <td>59kg</td>
                        <td>34km/h</td>
                        <td>33</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>Messias</td>
                        <td>67kg</td>
                        <td>34,04km/h</td>
                        <td>18</td>
                        <td>34</td>
        
                    </tr>
                    <tr>
                        <td>Osvaldo </td>
                        <td>65kg</td>
                        <td>29km/h</td>
                        <td>34</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>Natan</td>
                        <td>72kg</td>
                        <td>28km/h</td>
                        <td>26</td>
                        <td>31</td>
                    </tr>
                    <tr>
                        <td>Wagner </td>
                        <td>65kg</td>
                        <td>23km/h</td>
                        <td>11</td>
                        <td>20</td>
                    </tr>
        
                </table>
            </div>
            <div class="clear"></div>
            <footer class="footer">
                <div>
                    <img src="../static/pinguin.png"/>
                    <h4>Impacta's Company.</h4>
                    <p>Copyright &copy; 2020</p>
                </div>
                
            </footer>
        </div>
    </body>
</html>